<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk tools:overrideLibrary="android.support.v17.leanback"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/apm_logo"
        android:label="CRA - APM"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".USER.List_Users"/>
        <activity android:name=".LOGIN.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LOGIN.Login_Admin" />

        <activity android:name=".MAIN.Main" />
        <activity android:name=".MAIN.Main_admin" />

        <activity android:name=".CONVOCATORIA.Convocatoria" />
        <activity android:name=".CONVOCATORIA.Regist_Convocatoria" />
        <activity android:name=".CONVOCATORIA.Edit_Convocatoria" />


        <activity android:name=".USER.Perfil_User" />
        <activity android:name=".USER.Regist" />
        <activity android:name=".USER.Edit_User" />

        <activity android:name=".PAVILHAO.Pavilhao" />
        <activity android:name=".PAVILHAO.Regist_Pavilhao" />

        <activity android:name=".PROVA.Prova" />
        <activity android:name=".PROVA.Regist_Prova" />
        <activity android:name=".PROVA.Edit_Prova" />


        <activity android:name=".ESCALAO.Escalao" />
        <activity android:name=".ESCALAO.Regist_Escalao" />

        <activity android:name=".EQUIPA.Equipa" />
        <activity android:name=".EQUIPA.Regist_Equipa" />

        <activity android:name=".USER.Convocatoria_User" />
        <activity android:name=".USER.MyPlay_User" />
        <activity android:name=".LOGIN.Forgot_Pass" />
        <activity android:name=".EQUIPA.Edit_Equipa" />
        <activity android:name=".ESCALAO.Edit_Escalao"  />
        <activity android:name=".PAVILHAO.Edit_Pavilhao"  />

        <service android:name=".Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".Firebase.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>